<!DOCTYPE html>
<html ng-app="StarredUp">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body ng-app="app">
    <div ng-controller="LuckyController">
        <div class="container">
            {% block body %}{% endblock %}

            </div>
    </div>
    </body>
</html>
