<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!--<uib-carousel interval="myInterval">-->
                <!--<uib-slide ng-repeat="slide in slides" active="active" index="$index">-->
                    <!--<img ng-src="{{slide.image}}" style="margin:auto;" />-->
                    <!--<div class="carousel-caption">-->
                        <!--<h4>Slide {{$index+1}}</h4>-->
                    <!--</div>-->
                <!--</uib-slide>-->
            <!--</uib-carousel>-->

        </div>
        <div class="col-xs-4">
            <strong class="text-center">Recent</strong>
            <div class="well review-widget">
                <div ng-repeat="(key,review) in vm.recentReviews" class="review-widget-list">
                        <h4 class="review-widget-title">{{review.reviewTitle | limitTo: 30}}
                            <small ng-show="review.originalMemberName">{{review.originalMemberName}}</small>
                            <small ng-show="review.memberName">{{review.memberName}}</small>
                        </h4>
                        <small class="review-widget-name">{{review.productName}}</small>
                        <p>Rating: {{review.rating}}</p>
                        <div class="review-body">
                            <p>{{review.description | limitTo: 70}}...</p>
                            <a ui-sref="review_edit({reviewId: {{review.reviewId}} } )">Read Review</a></div>
                        <span ng-repeat="rating in review.rating track by $index"><i class="glyphicon glyphicon-star">{{i}}</i></span>
                        <hr ng-if="!$last" class="style14">
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <strong class="text-center">Featured</strong>
            <div class="well review-widget">
                <div ng-repeat="(key,review) in vm.featuredReviews" class="review-widget-list">
                    <h4 class="review-widget-title">{{review.reviewTitle | limitTo: 30}}
                        <small ng-show="review.originalMemberName">{{review.originalMemberName}}</small>
                        <small ng-show="review.memberName">{{review.memberName}}</small>
                    </h4>
                    <small class="review-widget-name">{{review.productName}}</small>
                    <p>Rating: {{review.rating}}</p>
                    <div class="review-body">
                        <p>{{review.description | limitTo: 70}}...</p>
                        <a ui-sref="review_edit({reviewId: {{review.reviewId}} } )">Read Review</a></div>
                    <span ng-repeat="rating in review.rating track by $index"><i class="glyphicon glyphicon-star">{{i}}</i></span>
                    <hr ng-if="!$last" class="style14">
                </div>
            </div>
        </div>

        <span uib-rating ng-model="vm.rate" max="vm.max" read-only="vm.isReadonly" on-hover="vm.hoveringOver(value)" on-leave="vm.overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        <span class="label" ng-class="{'label-warning': vm.percent<30, 'label-info': vm.percent>=30 && vm.percent<70, 'label-success': vm.percent>=70}" ng-show="vm.overStar && !vm.isReadonly">{{vm.percent}}%</span>

    </div>
</div>