{%  extends 'base.html.twig' %}


{% block body %}
    <h1>Admin</h1>

    {{  app.session.get('name') }}

    <p>
    {%  for flashMessage in app.session.flashbag.get('error') %}

        {{  flashMessage }}

    {% endfor %}
    </p>

{%  endblock %}